In [4]:
import pandas as pd

In [6]:
data_file = "C:/Users/xkate/UTDataCamp/UTOR-VIRT-DATA-PT-10-2022-U-LOLC-main-Module 03 - Python-Homework-Instructions/Module 03 - Python/Homework/Instructions/PyBank\Resources/budget_data.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [7]:
months_list = data_file_df["Date"]
print(months_list)
print("Total Months: ",len(months_list))

0     Jan-10
1     Feb-10
2     Mar-10
3     Apr-10
4     May-10
       ...
81    Oct-16
82    Nov-16
83    Dec-16
84    Jan-17
85    Feb-17
Name: Date, Length: 86, dtype: object
Total Months:  86

In [8]:
total = data_file_df["Profit/Losses"].sum()
total
print("Total:"," $",total)

Total:  $ 22564198

In [9]:
average = data_file_df["Profit/Losses"].mean()
average
print("Average Change: ","$",average)

Average Change:  $ 262374.3953488372

In [21]:
max = data_file_df[["Date","Profit/Losses"]].max()
max
print("Greatest Increase in Profits: ", max)

Greatest Increase in Profits:  Date              Sep-16
Profit/Losses    1141840
dtype: object

In [20]:
min = data_file_df[["Date","Profit/Losses"]].min()
min
print("Greatest Decrease in Profits: ", min)

Greatest Decrease in Profits:  Date               Apr-10
Profit/Losses    -1194133
dtype: object