In [24]:
import pandas as pd

In [25]:
data_file = "C:/Users/xkate/UTDataCamp/UTOR-VIRT-DATA-PT-10-2022-U-LOLC-main-Module 03 - Python-Homework-Instructions/Module 03 - Python/Homework/Instructions/PyPoll\Resources/election_data.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [26]:
total_votes = data_file_df["Ballot ID"]
print(total_votes)
print("Total Votes: ",len(total_votes))

0         1323913
1         1005842
2         1880345
3         1600337
4         1835994
           ...
369706    4714953
369707    4497542
369708    4085849
369709    4592018
369710    4660518
Name: Ballot ID, Length: 369711, dtype: int64
Total Votes:  369711

In [27]:
total = len(total_votes)
print(total)

369711

In [28]:
can_list = data_file_df["Candidate"].unique()
print(can_list)

['Charles Casper Stockham' 'Diana DeGette' 'Raymon Anthony Doane']

In [51]:
each_candidate = data_file_df["Candidate"].value_counts()
print(each_candidate)

Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64

In [57]:
def percentage(part, whole):
    percentage = 100 * float(part)/float(whole)
    return str(percentage) + "%"

print(percentage(272892, 369711))
print(percentage(85213, 369711))
print(percentage(11606, 369711))

73.81224794501651%
23.048543321675577%
3.139208733307908%

In [63]:
print("Winner: ",each_candidate.head(1))

Winner:  Diana DeGette    272892
Name: Candidate, dtype: int64